<nz-breadcrumb>
    <nz-breadcrumb-item>
        <a routerLink="/">Home</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
        Cadastros
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
        Carteiras
    </nz-breadcrumb-item>
</nz-breadcrumb>

<hr />

<form nz-form>
    <nz-form-item>
        <nz-form-control>
            <nz-input-group nzPrefixIcon="search">
                <input nz-input placeholder="Pesquisar" [(ngModel)]="query.query" name="query" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <button nz-button nzType="primary" (click)="pesquisar()">Pesquisar</button>
        <button nz-button nzType="default" (click)="limpar()">Limpar</button>
        <button nz-button nzType="default" (click)="novo()"><i nz-icon nzType="plus"></i> Novo</button>
    </nz-form-item>
</form>

<nz-table #carteirasTable [nzData]="carteiras || []" nzShowSizeChanger nzSize="small">
    <thead>
        <tr>
            <th>Descrição</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let carteira of carteirasTable.data">
            <td>{{carteira.descricao}}</td>
            <td>
                <nz-button-group>
                    <button nz-button (click)="editar(carteira.id)" nz-tooltip nzTooltipTitle="Editar">
                        <i nz-icon nzType="edit"></i>
                    </button>

                    <button nz-button nzDanger (click)="excluir(carteira.id)" nz-tooltip nzTooltipTitle="Excluir">
                        <i nz-icon nzType="delete"> </i>
                    </button>
                </nz-button-group>
            </td>
        </tr>
    </tbody>
</nz-table>