<form nz-form (ngSubmit)="salvar()" *ngIf="command">
    <nz-form-item>
        <nz-form-label [nzSpan]="4" nzRequired nzFor="descricao">Descrição</nz-form-label>
        <nz-form-control>
            <input nz-input name="descricao" [(ngModel)]="command.descricao" placeholder="Descrição" />
        </nz-form-control>
    </nz-form-item>
</form>

<div *ngIf="!command" style="text-align: center;">
    <nz-spin nzSimple nzTip="Carregando..."></nz-spin>
</div>

<div *nzModalFooter>
    <button nz-button nzType="default" (click)="close()">Cancelar</button>
    <button nz-button nzType="primary" (click)="salvar()" [disabled]="!command" [nzLoading]="busy">Salvar</button>
</div>